
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

:root{
    --vinho:#5a0000;
    --vinho2:#780000;
    --amarelo:#ffb300;
    --creme:#fff4e8;
}

body{
    background:var(--creme);
}

/* NAVBAR */

nav{
    background:var(--vinho);
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 8%;
}

.logo{
    color:white;
    font-size:32px;
    font-weight:bold;
}

nav ul{
    display:flex;
    list-style:none;
    gap:30px;
}

nav a{
    color:white;
    text-decoration:none;
    font-weight:bold;
}

.btn-pedir{
    background:var(--amarelo);
    border:none;
    padding:12px 25px;
    border-radius:30px;
    cursor:pointer;
    font-weight:bold;
}

/* HERO */

.hero{
    background:
    linear-gradient(
    to right,
    #5a0000,
    #220000
    );

    display:flex;
    align-items:center;
    justify-content:space-between;

    padding:60px 8%;
}

.hero-text{
    width:45%;
}

.hero-text h1{
    font-size:65px;
    color:white;
    line-height:1.1;
}

.hero-text span{
    color:var(--amarelo);
}

.hero-text p{
    color:white;
    margin-top:20px;
    font-size:18px;
}

.hero-buttons{
    margin-top:30px;
    display:flex;
    gap:15px;
}

.btn-primary,
.btn-secondary{
    padding:15px 25px;
    border-radius:30px;
    cursor:pointer;
    font-weight:bold;
}

.btn-primary{
    background:var(--amarelo);
    border:none;
}

.btn-secondary{
    background:transparent;
    border:2px solid white;
    color:white;
}

.hero-info{
    margin-top:30px;

    display:flex;
    flex-wrap:wrap;
    gap:20px;

    color:white;
    font-size:14px;
}

.hero-image img{
    width:700px;
    max-width:100%;
}

/* CARDAPIO */

.cardapio{
    padding:60px 8%;
}

.section-title{
    margin-bottom:30px;
}

.section-title small{
    color:#d62a2a;
    font-size:18px;
}

.section-title h2{
    font-size:42px;
}

.produtos-grid{
    display:grid;
    grid-template-columns:
    repeat(auto-fit,minmax(220px,1fr));

    gap:20px;
}

.produto{
    background:white;

    border-radius:15px;

    overflow:hidden;

    box-shadow:
    0 3px 10px rgba(0,0,0,.15);
}

.produto img{
    width:100%;
    height:180px;
    object-fit:cover;
}

.produto-info{
    padding:15px;
}

.produto-info h3{
    margin-bottom:10px;
}

.produto-info p{
    color:#666;
    font-size:14px;
}

.produto-footer{
    margin-top:15px;

    display:flex;
    justify-content:space-between;
    align-items:center;
}

.produto-footer button{
    width:35px;
    height:35px;
    border:none;
    border-radius:50%;
    background:red;
    color:white;
    cursor:pointer;
    font-size:20px;
}

/* COMBOS */

.combos{
    background:var(--vinho);

    padding:40px 8%;

    display:grid;

    grid-template-columns:
    repeat(auto-fit,minmax(250px,1fr));

    gap:20px;
}

.combo{
    background:var(--vinho2);

    color:white;

    border-radius:15px;

    padding:20px;
}

.combo img{
    width:100%;
    border-radius:10px;
    margin-bottom:10px;
}

.combo span{
    color:var(--amarelo);
    font-weight:bold;
}

.delivery-box{
    background:var(--amarelo);

    border-radius:15px;

    padding:20px;
}

.delivery-box h2{
    font-size:40px;
}

.delivery-box button{
    margin-top:15px;

    padding:10px 20px;

    border:none;

    border-radius:20px;

    cursor:pointer;
}

.delivery-box img{
    width:180px;

    display:block;

    margin:20px auto 0;
}

/* BENEFICIOS */

.beneficios{
    padding:60px 8%;

    display:grid;

    grid-template-columns:
    repeat(auto-fit,minmax(180px,1fr));

    gap:20px;

    text-align:center;
}

.beneficio{
    background:white;

    padding:25px;

    border-radius:15px;

    box-shadow:
    0 3px 10px rgba(0,0,0,.1);
}

.beneficio h3{
    margin:10px 0;
}

/* FOOTER */

footer{
    background:var(--vinho);

    color:white;

    padding:40px 8%;

    display:flex;

    justify-content:space-between;

    flex-wrap:wrap;

    gap:30px;
}

/* RESPONSIVO */

@media(max-width:1000px){

.hero{
    flex-direction:column;
    text-align:center;
}

.hero-text{
    width:100%;
}

.hero-buttons{
    justify-content:center;
}

.hero-info{
    justify-content:center;
}

.hero-image{
    margin-top:40px;
}

.hero-text h1{
    font-size:45px;
}

}

/* PAGINA CARDAPIO */


.cardapio-page{
    background:#8d0000;
}

/* HEADER */

.cardapio-header{
    height:155px;

    padding:20px 15px;

    background:#9f1100;

    display:flex;
    justify-content:space-between;
    align-items:flex-start;
}

.cardapio-header h1{
    color:white;
    font-size:28px;
    line-height:34px;
    max-width:180px;
    margin-top:30px;
}

.hero-img img{
    width:240px;
    height:130px;
    object-fit:cover;
    font-size: 36px;
    line-height: 40px;
}

#btnVoltar{
    border:none;
    background:#fff4e8;
    padding:8px 18px;
    border-radius:20px;
    font-weight:bold;
    cursor:pointer;
}

/* CATEGORIAS */

.categorias{
    display:flex;
    align-items:center;
    gap:0;

    min-height:85px;

    padding:0;

    background:#fff2e5;
}

.categoria-titulo{
    width:120px;
    height:95px;

    background:#3d0900;

    color:white;

    display:flex;
    align-items:center;

    padding:10px;

    font-size:14px;

    line-height:17px;

    font-weight:bold;

    border-radius:0 8px 8px 0;
}

.produto-card2{
    flex:1;

    height:85px;

    background:#fda202;

    display:flex;

    align-items:center;

    gap:18px;

    padding-left:18px;
}

/* CARDS */

.produto-card{
    width:68px;
    height:68px;

    background:#9d0000;

    border-radius:12px;

    box-shadow:0 4px 8px rgba(0,0,0,.15);
}

.branco{
    background:#ededed;
}

/* DOCES */

.categorias:nth-of-type(2){
    background:#8d0000;
    gap:18px;
    padding:12px 10px;
}

.categorias:nth-of-type(2) .categoria-titulo{
    background:#8d0000;
    border-radius:0;
    height:auto;
}

.categorias:nth-of-type(2) .produto-card{
    background:#ededed;
}

/* COMBOS */

.combos-cardapio{
    background:#8d0000;
    padding:20px 0 0 0;
    max-width: 700px;
    gap: 20px;
}

.combos-cardapio h2{
    width:90px;
    height:42px;

    background:white;

    color:#9d0000;

    margin:0 auto -10px auto;

    border-radius:10px;

    display:flex;
    align-items:center;
    justify-content:center;

    font-size:16px;
}

.combo-grid{
    width:80%;

    margin:auto;

    background:#6d0000;

    padding:15px;

    display:flex;

    justify-content:space-between;

    gap:15px;
}

.combo-card{
    width:230px;
    height:140px;

    background:#efe3d2;

    border-radius:14px;
}

/* DESTAQUE */

.destaque{
    display:flex;
    justify-content:center;

    background:#8d0000;

    padding:15px 0;
}

.destaque-card{
    width:230px;
    height:105px;

    background:#efe3d2;

    border-radius:10px;
}

.destaque{
    position:relative;
}

.destaque::before{
    content:"";

    position:absolute;

    width:320px;
    height:180px;

    background:#fda202;

    z-index:0;
}

.destaque-card{
    position:relative;
    z-index:1;
}
.produto-card2{
    flex:1;
    height:85px;
    background:#fda202;

    display:flex;
    align-items:center;

    gap:18px;

    padding-left:18px;
}
.categoria-titulo2{
    width:120px;
    min-height:95px;

    background:#3d0900;
    color:white;

    display:flex;
    align-items:center;

    padding:10px;

    font-size:14px;
    line-height:17px;
    font-weight:bold;
}
.categoria-titulo2{
    width:120px;
    height:95px;

    background:#3d0900;
    color:white;

    display:flex;
    align-items:center;

    padding:10px;

    font-size:14px;
    line-height:17px;
    font-weight:bold;
}

.categorias:nth-of-type(2){
    background:#8d0000;

    display:flex;
    align-items:center;

    gap:18px;

    padding:12px 10px;
}